/* Navigation: folder like structure */
#app-mailbox-peers {
	width: 20%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-bottom: 44px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#app-mailbox-peers > ul {
	position: relative;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}
#app-mailbox-peers li {
	position: relative;
	padding: 10px;
	width: 100%;
	border-top: 1px solid #eee;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

#app-mailbox-peers li:hover > a,
#app-mailbox-peers li:hover,
#app-mailbox-peers .selected,
#app-mailbox-peers .selected a {
	background-color: #f8f8f8;
}

#app-mailbox-peers li > a, #ocsms-empty-peers {
	line-height: 44px;
	padding: 0 12px;
}
#app-mailbox-peers li > a {
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}

#ocsms-empty-peers {
	color: #666;
	text-align: center;
}

#app-content-wrapper {
	padding: 15px;
	margin-top: 100px;
	min-height: auto !important;
}

#app-content-header {
	background-color: #E6E6E6;
	min-height: 30px;
	width: 80%;
	float: left;
	position: fixed;
	top: 45px;
	padding: 15px;
	box-shadow: 0 1px 0 0 #CCC;
}

@media screen and (max-width : 770px) {
	#app-content-header {
		width: 100%;
	}
}

#ocsms-contact-avatar {
	background-color: transparent;
	height: 75px;
	width: 75px;
	font-size: 2.5em;
	line-height: 75px;
}

#ocsms-contact-details,
#ocsms-contact-actions,
#ocsms-contact-avatar {
	display: inline-block;
	float: left;
}

#ocsms-contact-actions {
	float: right;
}

#ocsms-phone-label {
	font-weight: bold;
	color: #555;
	float: left;
}

#ocsms-phone-opt-number {
	color: #999;
	padding-left: 15px;
	float: left;
	width: 100%;
}

#ocsms-phone-msg-nb {
	color: #555;
	float: left;
	width: 100%;
}

#ocsms-conversation-removal {
	float: left;
	margin-left: 25px;
}

#ocsms-conversation-removal:hover,
#ocsms-message-removal:hover,
#app-mailbox-peers li:hover {
	cursor: pointer;
}

#ocsms-message-removal {
	float: right;
	margin-left: 10px;
}

#ocsms-empty-conversation {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	padding: 20px;
	color: #666;
	font-size: 32px;
}

.msg-sent, .msg-recv {
	border-radius: 12px;
	margin: 4px;
	max-width: 50%;
	padding: 8px;
	box-shadow: 1px 1px 1px #CCC;
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	-ms-box-shadow: 1px 1px 1px #CCC;
	-o-box-shadow: 1px 1px 1px #CCC;
}

.msg-sent {
	border: 1px solid #bbb;
	background: #a5fb7a;
	float: right;
}

.msg-recv {
	border: 1px solid #bbb;
	background: #e8e8e8;
	float: left;
}

.msg-date {
	font-style: italic;
	font-size: 90%;
	float: right;
}

.msg-spacer {
	clear: both;
}

.ocsms-plavatar, .ocsms-plavatar-big {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
	object-fit: cover;
}

.ocsms-plavatar-big {
	height: 55px;
	width: 55px;
	line-height: 55px;
}

.ocsms-plname {
	display: inline-block;
}

#app-settings-content .new-button {
	width: 32px;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	height: 34px;
}

.label-invalid-input {
	color: red;
}

label {
	font-weight: bold;
}

.icon-loading {
	color: #646464;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
