/* Navigation: folder like structure */
#app-mailbox-peers {
	width: 250px;
	height: 100%;
	float: left;
	-moz-box-sizing: border-box; box-sizing: border-box;
	background-color: #f5f5f5;
	padding-bottom: 44px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#app-mailbox-peers > ul {
	position: relative;
	height: 100%;
	overflow: auto;
	-moz-box-sizing: border-box; box-sizing: border-box;
}
#app-mailbox-peers li {
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box; box-sizing: border-box;
}

#app-mailbox-peers li:hover > a,
#app-mailbox-peers li:hover,
#app-mailbox-peers .selected,
#app-mailbox-peers .selected a {
	background-color: #ccc;
}

#app-mailbox-peers li > a, #ocsms-empty-peers {
	line-height: 44px;
	padding: 0 12px;
}
#app-mailbox-peers li > a {
	display: block;
	overflow: hidden;
	-moz-box-sizing: border-box; box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}

#ocsms-empty-peers {
	color: #666;
	text-align: center;
}

#app-content-wrapper {
	padding: 15px;
	margin-top: 80px;
}

#app-content-header {
	background-color: #E6E6E6;
	min-height: 30px;
	width: 100%;
	float: left;
	position: fixed;
	top: 45px;
	padding: 15px;
	box-shadow: 0 1px 0 0 #CCC;
}

#ocsms-phone-label {
	font-weight: bold;
	color: #555;
}

#ocsms-phone-opt-number {
	color: #999;
	padding-left: 15px;
}

#ocsms-phone-msg-nb {
	color: #555;
}

#ocsms-empty-conversation {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	padding: 20px;
	color: #666;
	font-size: 32px;
}

.msg-sent, .msg-recv {
	border-radius: 12px;
	margin: 4px;
	max-width: 50%;
	padding: 8px;
	box-shadow: 1px 1px 1px #CCC;
	-moz-box-shadow: 1px 1px 1px #CCC;
	-webkit-box-shadow: 1px 1px 1px #CCC;
	-ms-box-shadow: 1px 1px 1px #CCC;
	-o-box-shadow: 1px 1px 1px #CCC;
}

.msg-sent {
	border: 1px solid #bbb;
	background: #a5fb7a;
	float: right;
}

.msg-recv {
	border: 1px solid #bbb;
	background: #e8e8e8;
	float: left;
}

.msg-date {
	font-style: italic;
	font-size: 90%;
	float: right;
}

.msg-spacer {
	clear: both;
}

.ocsms-plavatar {
	margin-top: 2px;
	width: 40px;
	height: 40px;
	float: left;
	background-size: 40px;
	background-repeat: no-repeat;
}
