/* Navigation: folder like structure */
#app-mailbox-peers {
	width: 20%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-bottom: 44px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	resize: horizontal;
	overflow-x: auto;
}

#app-mailbox-peers > ul {
	position: relative;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
}
#app-mailbox-peers li {
	position: relative;
	padding: 10px;
	width: 100%;
	border-top: 1px solid #eee;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

#app-mailbox-peers li:hover > a,
#app-mailbox-peers li:hover,
#app-mailbox-peers .selected,
#app-mailbox-peers .selected a {
	background-color: #f8f8f8;
}

#app-mailbox-peers li > a, #ocsms-empty-peers {
	line-height: 44px;
	padding: 0 12px;
}
#app-mailbox-peers li > a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#ocsms-empty-peers {
	color: #666;
	text-align: center;
}

#ocsms-app-content {
	height: 100%;
	overflow-y: auto;
}

#app-content-wrapper {
	padding: 15px;
	margin-top: 100px;
	min-height: auto !important;
}

#app-content-header {
	background-color: #E6E6E6;
	min-height: 100px;
	width: 80%;
	position: fixed;
	top: 45px;
	padding: 12.5px;
	box-shadow: 0 1px 0 0 #CCC;
	z-index: 1;
	display: flex;
	align-items: center;
}

@media screen and (max-width : 770px) {
	#app-content-header {
		width: 100%;
	}
}

#ocsms-contact-avatar {
	background-color: transparent;
	height: 75px;
	width: 75px;
	font-size: 2.5em;
	margin-right: 1rem;
}

#ocsms-contact-details {
	flex-grow: 1;
}

#ocsms-phone-label {
	font-weight: normal;
	color: #fff;
	float: left;
	font-size: 20px;
	margin-bottom: .5rem;
}

#ocsms-phone-opt-number {
	color: #fff;
	float: left;
	width: 100%;
	margin-bottom: .5rem;
}

#ocsms-phone-msg-nb {
	color: #fff;
	float: left;
	width: 100%;
}

#ocsms-conversation-removal {
	float: left;
	margin-left: 25px;
}

#ocsms-conversation-removal:hover,
#ocsms-message-removal:hover,
#app-mailbox-peers li:hover {
	cursor: pointer;
}

#ocsms-message-removal {
	float: right;
	margin-left: 10px;
}

#ocsms-empty-conversation {
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	padding: 20px;
	color: #666;
	font-size: 32px;
}

.msg-sent, .msg-recv {
	border: 1px solid #ccc;
	border-left-width: 4px;
	border-radius: 2px;
	margin: 4px;
	max-width: 50%;
	padding: 8px;
	box-shadow: 0px 1px 2px 0px #0000004d;
}

.msg-sent {
	border-color: #a0ce89;
	background: #e0ffd1;
	float: right;
}

.msg-recv {
	background: #f5f5f5;
	float: left;
}

.msg-date {
	color: #666;
	font-style: italic;
	font-size: 90%;
	float: right;
	line-height: 16px;
	margin-top: .5rem;
	font-size: smaller;
	transition: color .3s ease;
}

.msg-recv:hover .msg-date,
.msg-sent:hover .msg-date{
	color: #333;
}

#app-content-wrapper .icon-delete {
	opacity: .2;
	margin-top: .5rem;
}

#app-content-wrapper .icon-delete:hover {
	opacity: 1;
}

.msg-spacer {
	clear: both;
}

.ocsms-plavatar, .ocsms-plavatar-big {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	/*! margin-right: 10px; */
	color: white;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
	object-fit: cover;
}

.ocsms-plavatar-big {
	height: 75px;
	width: 75px;
	line-height: 55px;
}

.ocsms-plname {
	display: inline-block;
}

#app-settings-content .new-button {
	width: 32px;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	height: 34px;
}

.label-invalid-input {
	color: red;
}

label {
	font-weight: bold;
}

.icon-loading {
	margin: 88px auto;
}

